@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope", sans-serif;
    overflow: auto; /* Allows scrolling */
  /* Hides scrollbar */
  scrollbar-width: none; /* Firefox */
}
body{
  background-color: white;
}
